{% load i18n %}
<footer class="{% block footer_class %}footer mt-auto py-3 text-center{% endblock %}">
    <a href = "mailto:tmkerley@fhsu.edu?subject = Feedback&body = Message">
        <button type="button" class="btn btn-success">
            Send Feedback
        </button>
    </a>
    <p>
    Find us on none of the Socials!!
    </p>
    <div class="d-flex flex-wrap align-items-center justify-content-center">
            {% load static %}
            <img src="{% static 'workouts\images\icons8-signal-app.svg' %}" alt="Signal">
            {% load static %}
            <img src="{% static 'workouts\images\icons8-facebook.svg' %}" alt="Facebook">
            {% load static %}
            <img src="{% static 'workouts\images\icons8-instagram.svg' %}" alt="Instagram">
    </div>
</footer>