{% load i18n %}
<header class="navbar navbar-expand-md navbar-secondary bg-secondary fixed top">
    <nav class="container-fluid bd-gutter">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% block nav_home_link %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <button type="button" class="btn btn-success">
                            Home
                        </button>
                    </a>
                </li>
                {% endblock %}
                {% block nav_Exercises_link %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'exercises' %}">
                        <button type="button" class="btn btn-success">
                            Exercises
                        </button>
                    </a>
                </li>
                {% endblock %}
                {% if request.user.is_authenticated %}
                    {% block nav_Workout_link %}
                        <a class="nav-link" aria-current="page" href="{% url 'workoutPage' %}">
                            <button type="button" class="btn btn-success">
                                Workouts
                            </button>
                        </a>
                    </li>
                    {% endblock %}
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <div class="logout">
                <div class="row">
                    <div class='col'>
                        Welcome {{ request.user.username }}
                    </div>
                    <div class='col'>
                        <a class="nav-link" href="{% url 'logout' %}">
                            <button type="button" class="btn btn-success">
                                Logout
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="row">
                    <div class="col">
                        <div class="login">
                            <a class="nav-link" href="{% url 'loginPage' %}">
                                <button type="button" class="btn btn-success">
                                    Login
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="register">
                            <a class="nav-link" href="{% url 'registerPage' %}">
                                <button type="button" class="btn btn-success">
                                    Register
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
</header>