{% extends 'workouts/base/base_site.html' %}

{% block main %}
    <div class="row">
        <div class="col-3 border border-white">
            
                {% if exercises %}
                    <h5>Some of our Exercises include:</h5>
                    {% include "workouts/exercise_list.html" %}
                {% else %}
                    <p>No exercises are available.</p>
                {% endif %}
        </div>
        <div class="col-9">
            <h3>Welcome!! Please Login </h3>
            <p>
                We can help you track and improve your weighlifting activities.
            </p>
        </div>
{% endblock %}