{% extends 'workouts/base/base_site.html' %}

{% block main %}
    <div class="row">
        <div class="col-3">
            <h5>
                Sort by:
            </h5>
            <h5>
                Filter by:
            </h5>
        </div>
        <div class="col-9">
            <h4>
                Workouts Performed
            </h4>
            {% if user_workouts %}
                <table class="table table-striped table-dark table-sm table-hover">
                    <thead class="thead">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Exercise</th>
                            <th scope="col">Number of Sets</th>
                            <th scope="col">Reps per Set</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workout in user_workouts%}
                        <tr>
                            <th scope="row">{{ workout.id }}</th>
                            <td>{{ workout.exercise.name}}</td>
                            <td>{{ workout.number_of_sets}}</td>
                            <td>{{ workout.reps_per_set}}</td>
                            <td>{{ workout.weight_lifted}}</td>
                            <td>{{ workout.goal_met}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h5>
                    You haven't submitted any exercises yet.
                </h5>
            {% endif %}
        </div>
    </div>